.carousel-control-prev {
  left: 0;
  width: 40px;
  opacity: 0.8;
  //add your own CSS as you need
}

.carousel-control-next {
  right: 0;
  width: 40px;
  opacity: 0.8;
  //add your own CSS as you need
}

.slider-bg {
  background-image: url('../img/prism.png');
  background-repeat: repeat;
}
